.card-infor { 
    display: flex; 
    width: 100%;
}
.card-wrapper {   
    width: 100%;
    padding: 20px 0 20px 20px;
}  
.dashboard { 
    display: flex;  
    flex-direction: column;
} 
.row { 
    display: flex; 
    width: 100%; 
}
