.table { 
    margin-top: 4px;
}
.table-heading {
    background-color: var(--second);
    color: #fff;
}
.table-flex {
    display: flex;
    align-items: center;
}

.container {
    padding: 0;
    margin: 0;
}
.item__name--text {
    font-size: 18px;
}
.item__image {
    display: flex;
}
.item__image--inner {
    width: 150px;
    height: 142px;
}
.item__cost--text {
    font-size: 18px;
}
.content__header {  
    display: flex;
    justify-content: space-between;
    padding: 16px 20px;
} 
.content__header input { 
    padding: 8px 20px; 
    border-radius: 40px; 
    width: 40%; 
    outline: none;  
    border: none;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.4);
} 
.content__header button { 
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.image-preview { 
    margin-bottom: 20px;
    /* border: 1px solid #ddd; */
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 100px; 
    height: auto; 
    padding: 10px; 
    box-sizing: content-box;
}