.container {  
    color: white;
    background-image: url('https://img.freepik.com/free-vector/restaurant-mural-wallpaper_23-2148707022.jpg?w=1060&t=st=1681641911~exp=1681642511~hmac=155b43f0da3fda3f421f26ea24c1cdcac2ccecc1632c5cbe116e8d8be410d88b');
}
.content { 
    width: 100vw; 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center;
}
